@text-color-1: #463a39;
.left-button-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 5px;
  position: absolute;
  top: 0;

  .reset-all-btn {
    height: 40px;
    width: 40px;
    position: relative;
  }

  .experiment-btn {
    height: 30px;
    // width: 100px;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: bold;
  }
}
