@font-face {
  font-family: "Termina-Black";
  src: url("../../src/fonts/Termina_Black.ttf"), format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FranklinGothic-URW";
  src: url("../../src/fonts/FranklinGothic_URW_Medium.ttf"), format("truetype");
  font-weight: medium;
  font-style: normal;
}
.left-button-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 5px;
  position: absolute;
  top: 0;
}
.left-button-con .reset-all-btn {
  height: 40px;
  width: 40px;
  position: relative;
}
.left-button-con .experiments-btn {
  height: 30px;
  padding: 5px 12px;
}
.experiments-modal-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
.experiments-modal-wrapper .btn {
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #463a39;
  background-color: #f19a00;
  text-align: left;
  transition: all 0.05s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.experiments-modal-wrapper .btn:hover {
  background-color: #be7900;
}
.experiments-modal-wrapper .btn:active {
  scale: 0.95 !important;
}
.experiments-modal-wrapper button {
  pointer-events: all;
  cursor: pointer;
}
.experiments-modal-wrapper button:disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(1);
}
.experiments-modal-wrapper .modal {
  position: absolute;
  z-index: 500;
  height: 400px;
  width: 330px;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px 0 0 6px;
  pointer-events: auto;
  background: url("../../public/assets/ui/side_panel_bg.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.2s ease-out;
}
.experiments-modal-wrapper .modal.closed {
  right: -100%;
  opacity: 0;
}
.experiments-modal-wrapper .modal.open {
  right: 0;
  opacity: 1;
}
.experiments-modal-wrapper .modal .close-modal {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 10px 8px 0 0;
  border-radius: 20px;
  border: 0;
  background-color: #f46a68;
  color: #000;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experiments-modal-wrapper .modal .close-modal:hover {
  background-color: cyan;
  color: #fff;
}
.experiments-modal-wrapper .modal .content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 8% 4% 8% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experiments-modal-wrapper .modal .content header {
  color: #f46a68;
  font-family: "Termina-Black";
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
}
.experiments-modal-wrapper .modal .content h2 {
  font-family: "Termina-Black";
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 4px;
  color: #e1cdaa;
}
.experiments-modal-wrapper .modal .content .description-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: solid 1px #fff;
  padding: 10px;
}
.experiments-modal-wrapper .modal .content .description-con p {
  color: #fdf3e0;
  margin: 0;
}
.experiments-modal-wrapper .modal .content .newton-section {
  display: flex;
  flex-direction: column;
}
.experiments-modal-wrapper .modal .content .kepler-section {
  display: flex;
  flex-direction: column;
}
.experiments-modal-wrapper .modal .content .btn-con {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experiments-modal-wrapper .modal .content .btn-con .btn {
  padding: 5px 10px;
}
.experiments-modal-wrapper .experiment-footer {
  display: flex;
  justify-content: space-evenly;
}
.experiments-modal-wrapper .experiment-footer .btn {
  padding: 8px;
  font-size: 0.9rem;
  color: #fff;
  width: 135px;
  white-space: nowrap;
  justify-content: center;
}
.experiments-modal-wrapper .experiment-footer .btn.start-btn {
  background-color: #969b17;
}
.experiments-modal-wrapper .experiment-footer .btn.start-btn:hover {
  background-color: #6b6f10;
}
.experiments-modal-wrapper .experiment-footer .btn.reset-btn {
  background-color: #f46a68;
}
.experiments-modal-wrapper .experiment-footer .btn.reset-btn:hover {
  background-color: #f13b38;
}
.experiments-modal-wrapper.kepler-1 .content header,
.experiments-modal-wrapper.kepler-2 .content header,
.experiments-modal-wrapper.kepler-3 .content header,
.experiments-modal-wrapper.newton-1 .content header {
  color: #e69c38;
  font-size: 0.7rem;
  font-weight: bold;
  width: 200px;
}
.experiments-modal-wrapper.kepler-1 .info-con .label,
.experiments-modal-wrapper.kepler-2 .info-con .label,
.experiments-modal-wrapper.kepler-3 .info-con .label,
.experiments-modal-wrapper.newton-1 .info-con .label {
  color: white;
}
.experiments-modal-wrapper.kepler-1 .info-con .value,
.experiments-modal-wrapper.kepler-2 .info-con .value,
.experiments-modal-wrapper.kepler-3 .info-con .value,
.experiments-modal-wrapper.newton-1 .info-con .value {
  color: #70eeff;
  font-weight: bold;
}
.experiments-modal-wrapper.kepler-1 .slider-con,
.experiments-modal-wrapper.kepler-2 .slider-con,
.experiments-modal-wrapper.kepler-3 .slider-con,
.experiments-modal-wrapper.newton-1 .slider-con {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.experiments-modal-wrapper.kepler-1 .slider-con .slider-control,
.experiments-modal-wrapper.kepler-2 .slider-con .slider-control,
.experiments-modal-wrapper.kepler-3 .slider-con .slider-control,
.experiments-modal-wrapper.newton-1 .slider-con .slider-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experiments-modal-wrapper.kepler-1 .slider.disabled,
.experiments-modal-wrapper.kepler-2 .slider.disabled,
.experiments-modal-wrapper.kepler-3 .slider.disabled,
.experiments-modal-wrapper.newton-1 .slider.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.experiments-modal-wrapper.kepler-1 .input-con,
.experiments-modal-wrapper.kepler-2 .input-con,
.experiments-modal-wrapper.kepler-3 .input-con,
.experiments-modal-wrapper.newton-1 .input-con {
  position: relative;
  display: flex;
  flex-direction: column;
  translate: 0 10px;
  width: 90%;
  margin: 0 4%;
  /* slider styling */
}
.experiments-modal-wrapper.kepler-1 .input-con input[type="range"],
.experiments-modal-wrapper.kepler-2 .input-con input[type="range"],
.experiments-modal-wrapper.kepler-3 .input-con input[type="range"],
.experiments-modal-wrapper.newton-1 .input-con input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, transparent 0%, transparent 2.5%, #dfcda7 2.5%, #dfcda7 97.5%, transparent 97.5%, transparent 100%);
  outline: none;
}
.experiments-modal-wrapper.kepler-1 .input-con input[type="range"]::-webkit-slider-thumb,
.experiments-modal-wrapper.kepler-2 .input-con input[type="range"]::-webkit-slider-thumb,
.experiments-modal-wrapper.kepler-3 .input-con input[type="range"]::-webkit-slider-thumb,
.experiments-modal-wrapper.newton-1 .input-con input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  background: #ff6b6b;
  border-radius: 50%;
  cursor: pointer;
}
.experiments-modal-wrapper.kepler-1 .input-con input[type="range"]::-webkit-slider-thumb:hover,
.experiments-modal-wrapper.kepler-2 .input-con input[type="range"]::-webkit-slider-thumb:hover,
.experiments-modal-wrapper.kepler-3 .input-con input[type="range"]::-webkit-slider-thumb:hover,
.experiments-modal-wrapper.newton-1 .input-con input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff8585;
}
.experiments-modal-wrapper.kepler-1 .input-con .slider-markers,
.experiments-modal-wrapper.kepler-2 .input-con .slider-markers,
.experiments-modal-wrapper.kepler-3 .input-con .slider-markers,
.experiments-modal-wrapper.newton-1 .input-con .slider-markers {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #dfcda7;
}
.experiments-modal-wrapper.kepler-1 .input-con .slider-ticks,
.experiments-modal-wrapper.kepler-2 .input-con .slider-ticks,
.experiments-modal-wrapper.kepler-3 .input-con .slider-ticks,
.experiments-modal-wrapper.newton-1 .input-con .slider-ticks {
  position: absolute;
  top: -20%;
  left: 3%;
  width: 95.5%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: -1;
}
.experiments-modal-wrapper.kepler-1 .input-con .slider-ticks .tick,
.experiments-modal-wrapper.kepler-2 .input-con .slider-ticks .tick,
.experiments-modal-wrapper.kepler-3 .input-con .slider-ticks .tick,
.experiments-modal-wrapper.newton-1 .input-con .slider-ticks .tick {
  width: 1.5px;
  height: 100%;
  background-color: #dfcda7;
}
.experiments-modal-wrapper.kepler-1 .increment-btn,
.experiments-modal-wrapper.kepler-2 .increment-btn,
.experiments-modal-wrapper.kepler-3 .increment-btn,
.experiments-modal-wrapper.newton-1 .increment-btn,
.experiments-modal-wrapper.kepler-1 .decrement-btn,
.experiments-modal-wrapper.kepler-2 .decrement-btn,
.experiments-modal-wrapper.kepler-3 .decrement-btn,
.experiments-modal-wrapper.newton-1 .decrement-btn {
  width: 24px;
  height: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #f19a00;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  font-size: 1rem;
  padding: 0;
}
.experiments-modal-wrapper.kepler-1 .increment-btn:hover,
.experiments-modal-wrapper.kepler-2 .increment-btn:hover,
.experiments-modal-wrapper.kepler-3 .increment-btn:hover,
.experiments-modal-wrapper.newton-1 .increment-btn:hover,
.experiments-modal-wrapper.kepler-1 .decrement-btn:hover,
.experiments-modal-wrapper.kepler-2 .decrement-btn:hover,
.experiments-modal-wrapper.kepler-3 .decrement-btn:hover,
.experiments-modal-wrapper.newton-1 .decrement-btn:hover {
  background-color: #ffb025;
}
