@bg-color-1: #dcccad;
@bg-color-2: #fdf3e0;
@text-color-1: #463a39;
@text-color-2: #861b1d;
@label-color: #f19a00;
@btn-color-1: #c99050;
@btn-color-2: #861b1d;
@btn-color-3: #969b17;
@btn-color-4: #f46a68;

// import fonts from fonts folder
@font-face {
  font-family: "Termina-Black";
  src: url("/assets/fonts/Termina_Black.ttf"), format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FranklinGothic-URW";
  src: url("/assets/fonts/FranklinGothic_URW_Medium.ttf"), format("truetype");
  font-weight: medium;
  font-style: normal;
}
