@font-face {
  font-family: "Termina-Black";
  src: url("/assets/fonts/Termina_Black.ttf"), format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FranklinGothic-URW";
  src: url("/assets/fonts/FranklinGothic_URW_Medium.ttf"), format("truetype");
  font-weight: medium;
  font-style: normal;
}
