@bg-color-1: #dcccad;
@bg-color-2: #fdf3e0;
@text-color-1: #463a39;
@text-color-2: #861b1d;
@text-color-3: #483939;
@label-color: #f19a00;
@btn-color-1: #c99050;
@btn-color-2: #861b1d;
@btn-color-3: #969b17;
@btn-color-4: #f46a68;
@cyan-color: #4cddfb;
@off-white-color: #e1cdaa;
