@bg-color-1: #dcccad;
@bg-color-2: #fdf3e0;
@text-color-1: #463a39;
@text-color-2: #861b1d;
@label-color: #f19a00;
@btn-color-1: #c99050;
@btn-color-2: #861b1d;
@btn-color-3: #969b17;
@btn-color-4: #f46a68;

// import fonts from fonts folder
@font-face {
  font-family: "Termina-Black";
  src: url("./fonts/Termina_Black.ttf"), format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FranklinGothic-URW";
  src: url("./fonts/FranklinGothic_URW_Medium.ttf"), format("truetype");
  font-weight: medium;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// html {
//   min-height: 500px;
//   width: 100%;
//   max-width: 1100px;
// }

body {
  // position: fixed;
  // overflow: hidden;
  // overscroll-behavior-y: none;
  font-family:
    helvetica neue,
    helvetica,
    arial,
    sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.Main {
  height: 550px;
  min-height: 500px;
  max-height: 550px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  .btn {
    border: none;
    padding: 0;
    cursor: pointer;
    pointer-events: auto;
    transition: scale 0.2s ease-out;

    &:active {
      scale: 0.9;
    }
  }

  &.fullscreen {
    max-width: 100vw;
    height: 100dvh;
    max-height: 100dvh;
  }

  .loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;

    .loading-con {
      width: 50%;
      max-width: 250px;
    }

    .loading-bar-container {
      width: 100%;
      height: 20px;
      background-color: #444;
      border-radius: 10px;
      overflow: hidden;
      .loading-bar {
        height: 100%;
        background-color: #4caf50;
        width: 0;
        transition: width 2s ease;
      }
      .orbit-icon {
        width: 200px; /* Adjust the size as needed */
        height: 200px;
        // display: block;
        margin: 0 auto 20px; /* Centers the icon and adds space below */
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  // @media (max-width: 600px) {
  //   flex-direction: column;
  // }

  #Canvas {
    background-color: black;
    position: relative;
  }

  .menu-wrapper {
    z-index: 300;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    pointer-events: none;

    .bottom-menu {
      position: relative;
      z-index: 200;
      bottom: -85px;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 110px;
      width: 100%;
      max-width: 540px;
      min-width: 280px;

      color: @label-color;
      margin: auto auto 0 auto;
      pointer-events: auto;
      padding: 1.5%;
      border-radius: 6px 6px 0 0;
      transition: bottom 0.3s ease-in-out;
      background: url("../public/assets/ui/bottom_menu_bg.png") no-repeat center center;
      background-size: 100% 100%;

      &.open {
        bottom: 0; /* Slide up */

        .menu-toggle-btn {
          rotate: 180deg;
        }
      }
      .menu-toggle-btn {
        position: absolute;
        left: 5%;
        top: -20px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: #4cddfb 2px solid;
        background: url("../public/assets/ui/icons/chevron.svg") no-repeat center center;
        background-size: 70%;
        background-color: #f46a68;
        transition: rotate ease 0.3s;

        @media screen and (max-width: 420px) {
          top: -15px;
          width: 30px;
          height: 30px;
        }
      }
      .left-con,
      .right-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 4%;
        gap: 10px;

        label {
          font-family: "FranklinGothic-URW", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-size: 1rem;
          font-weight: bold;

          @media screen and (max-width: 500px) {
            font-size: 0.8rem;
          }
          @media screen and (max-width: 400px) {
            font-size: 0.7rem;
          }
        }

        .menu-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          label {
            flex: 1;
          }
        }
      }
      .left-con {
        flex: 60%;

        @media screen and (max-width: 420px) {
          flex: 55%;
        }
      }
      .right-con {
        flex: 40%;

        @media screen and (max-width: 420px) {
          flex: 45%;
        }
      }
      .divider {
        height: 100%;
        border-left: solid #c4bdbd;
        width: 1px;
      }
    }

    .details-menu {
      position: absolute;
      z-index: 200;
      height: fit-content;
      width: 270px;
      top: 10%;
      right: -100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 6px 0 0 6px;
      pointer-events: auto;
      background: url("../public/assets/ui/side_panel_bg.png") no-repeat center center;
      background-size: 100% 100%;
      opacity: 0;

      &.open {
        right: 0;
        opacity: 1;
        transition: right 0.3s ease-out;
      }

      .details-menu-inner {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 8%;
      }

      h2 {
        font-family: "Termina-Black";
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 4px;
        color: #e1cdaa;
      }
      .planet-details {
        &.saved {
          input.value {
            display: inline;
            min-width: 0px;
            width: min-content;
            padding: 0;
            color: #fff;
            border-color: transparent;
            background: transparent;
          }
        }
        &.editing {
          input.value {
            color: #483939;
          }
        }
      }
      .measurement-unit {
        margin-left: 5px;
      }

      .item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 6px;
        height: 28px;

        label {
          white-space: nowrap;
          margin-right: 6px;
          color: @label-color;
          font-weight: 600;
          font-size: 0.9rem;
        }

        input {
          width: 100px;
          font-size: 1rem;
          color: @text-color-2;

          @media screen and (max-width: 500px) {
            font-size: 0.8rem;
          }
          @media screen and (max-width: 400px) {
            font-size: 0.7rem;
          }
        }
        input:disabled {
          color: @text-color-1;
        }
        span {
          color: #fff;
        }
        // .unit {
        //   position: absolute;
        //   right: 10px;
        // }

        &.w1 {
        }
        &.w2 {
        }
        &.w3 {
        }
        &.w4 {
        }
      }

      .button-con {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 10px;

        .edit-planet-btn,
        .reset-planet-btn {
          height: 30px;
          width: 100px;
          font-weight: 600;
          font-size: 0.8rem;
        }
        .edit-planet-btn {
          background-color: @btn-color-3;
          color: #fff;
        }
        .reset-planet-btn {
          background-color: @btn-color-4;
          color: #fff;
        }
      }
    }
  }

  .reset-all-btn,
  .fullscreen-btn {
    position: absolute;
    top: 0;
    height: 40px;
    width: 40px;
    margin: 1%;
  }
  .reset-all-btn {
    left: 0;
    background: url("../public/assets/ui/icons/reset_icon.svg") no-repeat center center;
    background-size: 70%;
  }
  .fullscreen-btn {
    right: 0;
    background: url("../public/assets/ui/icons/fullscreen_icon.svg") no-repeat center center;
    background-size: 80%;
  }

  // Switch sliders
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;

    @media screen and (max-width: 420px) {
      height: 24px;
      width: 45px;
    }

    @media screen and (max-width: 320px) {
      height: 22px;
      width: 38px;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 34px;
      background-color: @btn-color-2;
      transition: 0.3s;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 22px;
        left: 4px;
        bottom: 3px;
        border-radius: 50%;
        background-color: white;
        transition: 0.3s;

        @media screen and (max-width: 420px) {
          left: 3px;
          bottom: 3px;
          height: 19px;
          width: 19px;
        }
        @media screen and (max-width: 320px) {
          left: 3px;
          bottom: 3px;
          height: 16px;
          width: 16px;
        }
      }
    }

    input:checked + .slider {
      background-color: #969b17;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #969b17;
    }

    input:checked + .slider:before {
      transform: translateX(30px);

      @media screen and (max-width: 420px) {
        transform: translateX(20px);
      }
      @media screen and (max-width: 320px) {
        transform: translateX(16px);
      }
    }
  }

  // dropdown styling
  select {
    background-color: #fdf5e8;
    color: #463a39;
    border: none;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    // background-image: url("dropdown-arrow.png"); /* Your dropdown arrow image */
    background-repeat: no-repeat;
    background-position: right 10px center;
    border-radius: 0;

    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 0.7rem;
    }
  }
  select option:checked {
    background-color: #add1d7;
  }

  // Planet labels
  .label-wrap {
    width: 2px;
    height: 2px;
  }
  .planet-label {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Termina-Black", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    width: 2px;
    height: 2px;
  }
  .planet-point {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
  }
  .planet-icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .moon-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 1;
    position: relative;
  }
}
.menu-wrapper .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 400;
}
.menu-wrapper.disabled {
  pointer-events: none;
  & .planet-details .btn {
    pointer-events: none;
  }
}

// RESET MODAL
.reset-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  .content {
    width: 400px;
    background: url("../public/assets/ui/dialog_box_bg.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 2%;
    pointer-events: auto;
    color: #f19a00;
    font-size: 1.1rem;
    .top-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .warning-icon {
        width: 40px;
        height: 40px;
      }
    }
    .btn-con {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 4%;
      .confirm-btn {
        background-color: @btn-color-3;
      }
      .cancel-btn {
        background-color: @btn-color-4;
      }
      .btn {
        cursor: pointer;
        width: 120px;
        height: 38px;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

// dropdown styling
#planetSelection,
#simSpeedSelect {
  background-color: #fff5e6;
  color: #717171;
  font-weight: bold;
  border: none;
  width: 120px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;

  @media screen and (max-width: 500px) {
    width: 90px;
  }

  @media screen and (max-width: 400px) {
    width: 80px;
  }
  @media screen and (max-width: 300px) {
    width: 70px;
  }
}
.auto-rotate-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  transition:
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(-20px); /* Start position for slide-in effect */
}

.slideIn {
  opacity: 1;
  transform: translateY(10px); /* End position for slide-in effect */
}

.slideOut {
  opacity: 0;
  transform: translateY(-20px); /* Start position for slide-out effect */
}
