* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
#root {
  overflow: auto;
}
body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}
.Main {
  border: solid;
  height: 100%;
  max-height: 520px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.Main.fullscreen {
  max-width: 100vw;
  max-height: 100dvh;
}
.Main #Canvas {
  background-color: black;
}
.Main .menu-con {
  position: relative;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  /* Full height of its parent */
  background-color: #333;
  color: white;
}
.Main .menu-con.open {
  width: 300px;
}
.Main .menu-con.close {
  width: 0;
  height: 0;
}
.Main .menu-con.close .menu-content {
  opacity: 0;
}
.Main .menu-con .btn {
  border: 0;
  border-radius: 5px;
}
.Main .menu-con .menu-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 40px;
  padding: 0 2%;
  max-height: 100%;
  /* Set max height to 100% of parent */
  overflow-y: auto;
  /* Enables scrolling */
}
.Main .menu-con .menu-content .menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Main .menu-con .menu-content .menu-item label {
  flex: 1 1;
}
.Main .menu-con .menu-content .menu-item input {
  width: 60px;
}
.Main .menu-con .menu-content .planet-details {
  max-height: 100%;
  overflow-y: auto;
  /* Enables scrolling */
}
.Main .menu-con .menu-toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999;
}
.Main .fullscreen-btn {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: #333;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main .fullscreen-btn.fullscreen {
  background-image: url("/assets/icons/fullscreen-exit.svg");
}
.Main .fullscreen-btn.minimized {
  background-image: url("/assets/icons/fullscreen-enter.svg");
}
.Main .label-wrap {
  border: solid 1px white;
  width: 2px;
  height: 2px;
}
.Main .planet-label {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  width: 2px;
  height: 2px;
}
.Main .planet-point {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  opacity: 1;
}
