@font-face {
  font-family: "Termina-Black";
  src: url("../src/fonts/Termina_Black.ttf"), format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FranklinGothic-URW";
  src: url("../src/fonts/FranklinGothic_URW_Medium.ttf"), format("truetype");
  font-weight: medium;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
.Main {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 600px;
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
}
.Main canvas {
  height: 100%;
  width: 100%;
  min-height: 600px;
  background-color: black;
  overflow: hidden;
}
.Main .btn {
  border: none;
  padding: 0;
  cursor: pointer;
  pointer-events: auto;
  transition: scale 0.2s ease-out;
}
.Main .btn:active {
  scale: 0.9;
}
.Main.fullscreen {
  max-width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
}
.Main .loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
.Main .loading-screen .loading-con {
  width: 50%;
  max-width: 250px;
}
.Main .loading-screen .loading-bar-container {
  width: 100%;
  height: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
}
.Main .loading-screen .loading-bar-container .loading-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 2s ease;
}
.Main .loading-screen .loading-bar-container .orbit-icon {
  width: 200px;
  /* Adjust the size as needed */
  height: 200px;
  margin: 0 auto 20px;
  /* Centers the icon and adds space below */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Main .menu-wrapper {
  z-index: 300;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.Main .menu-wrapper .bottom-menu {
  position: relative;
  z-index: 200;
  bottom: -85px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 110px;
  width: 100%;
  max-width: 540px;
  min-width: 280px;
  color: #f19a00;
  margin: auto auto 0 auto;
  pointer-events: auto;
  padding: 1.5%;
  border-radius: 6px 6px 0 0;
  transition: bottom 0.3s ease-in-out;
  background: url("../public/assets/ui/bottom_menu_bg.png") no-repeat center center;
  background-size: 100% 100%;
}
.Main .menu-wrapper .bottom-menu.open {
  bottom: 0;
  /* Slide up */
}
.Main .menu-wrapper .bottom-menu.open .menu-toggle-btn {
  rotate: 180deg;
}
.Main .menu-wrapper .bottom-menu .menu-toggle-btn {
  position: absolute;
  left: 5%;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: #4cddfb 2px solid;
  background: url("../public/assets/ui/icons/chevron.svg") no-repeat center center;
  background-size: 70%;
  background-color: #f46a68;
  transition: rotate ease 0.3s;
}
@media screen and (max-width: 420px) {
  .Main .menu-wrapper .bottom-menu .menu-toggle-btn {
    top: -15px;
    width: 30px;
    height: 30px;
  }
}
.Main .menu-wrapper .bottom-menu .left-con,
.Main .menu-wrapper .bottom-menu .right-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4%;
  gap: 10px;
}
.Main .menu-wrapper .bottom-menu .left-con label,
.Main .menu-wrapper .bottom-menu .right-con label {
  font-family: "FranklinGothic-URW", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .Main .menu-wrapper .bottom-menu .left-con label,
  .Main .menu-wrapper .bottom-menu .right-con label {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .Main .menu-wrapper .bottom-menu .left-con label,
  .Main .menu-wrapper .bottom-menu .right-con label {
    font-size: 0.7rem;
  }
}
.Main .menu-wrapper .bottom-menu .left-con .menu-item,
.Main .menu-wrapper .bottom-menu .right-con .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Main .menu-wrapper .bottom-menu .left-con .menu-item label,
.Main .menu-wrapper .bottom-menu .right-con .menu-item label {
  flex: 1;
}
.Main .menu-wrapper .bottom-menu .left-con {
  flex: 60%;
}
@media screen and (max-width: 420px) {
  .Main .menu-wrapper .bottom-menu .left-con {
    flex: 55%;
  }
}
.Main .menu-wrapper .bottom-menu .right-con {
  flex: 40%;
}
@media screen and (max-width: 420px) {
  .Main .menu-wrapper .bottom-menu .right-con {
    flex: 45%;
  }
}
.Main .menu-wrapper .bottom-menu .divider {
  height: 100%;
  border-left: solid #c4bdbd;
  width: 1px;
}
.Main .menu-wrapper .details-menu {
  position: absolute;
  z-index: 200;
  height: fit-content;
  width: 270px;
  top: 10%;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px 0 0 6px;
  pointer-events: auto;
  background: url("../public/assets/ui/side_panel_bg.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0;
}
.Main .menu-wrapper .details-menu.open {
  right: 0;
  opacity: 1;
  transition: right 0.3s ease-out;
}
.Main .menu-wrapper .details-menu .details-menu-inner {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 8%;
}
.Main .menu-wrapper .details-menu h2 {
  font-family: "Termina-Black";
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 4px;
  color: #e1cdaa;
}
.Main .menu-wrapper .details-menu .planet-details.saved input.value {
  display: inline;
  min-width: 0px;
  width: min-content;
  padding: 0;
  color: #fff;
  border-color: transparent;
  background: transparent;
}
.Main .menu-wrapper .details-menu .planet-details.editing input.value {
  color: #483939;
}
.Main .menu-wrapper .details-menu .measurement-unit {
  margin-left: 5px;
}
.Main .menu-wrapper .details-menu .item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px;
  height: 28px;
}
.Main .menu-wrapper .details-menu .item label {
  white-space: nowrap;
  margin-right: 6px;
  color: #f19a00;
  font-weight: 600;
  font-size: 0.9rem;
}
.Main .menu-wrapper .details-menu .item input {
  width: 100px;
  font-size: 1rem;
  color: #861b1d;
}
@media screen and (max-width: 500px) {
  .Main .menu-wrapper .details-menu .item input {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .Main .menu-wrapper .details-menu .item input {
    font-size: 0.7rem;
  }
}
.Main .menu-wrapper .details-menu .item input:disabled {
  color: #463a39;
}
.Main .menu-wrapper .details-menu .item span {
  color: #fff;
}
.Main .menu-wrapper .details-menu .button-con {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}
.Main .menu-wrapper .details-menu .button-con .edit-planet-btn,
.Main .menu-wrapper .details-menu .button-con .reset-planet-btn {
  height: 30px;
  width: 100px;
  font-weight: 600;
  font-size: 0.8rem;
}
.Main .menu-wrapper .details-menu .button-con .edit-planet-btn {
  background-color: #969b17;
  color: #fff;
}
.Main .menu-wrapper .details-menu .button-con .reset-planet-btn {
  background-color: #f46a68;
  color: #fff;
}
.Main .reset-all-btn,
.Main .fullscreen-btn {
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  margin: 1%;
}
.Main .reset-all-btn {
  left: 0;
  background: url("../public/assets/ui/icons/reset_icon.svg") no-repeat center center;
  background-size: 70%;
}
.Main .fullscreen-btn {
  right: 0;
  background: url("../public/assets/ui/icons/fullscreen_icon.svg") no-repeat center center;
  background-size: 80%;
}
.Main .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}
@media screen and (max-width: 420px) {
  .Main .switch {
    height: 24px;
    width: 45px;
  }
}
@media screen and (max-width: 320px) {
  .Main .switch {
    height: 22px;
    width: 38px;
  }
}
.Main .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Main .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #861b1d;
  transition: 0.3s;
}
.Main .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}
@media screen and (max-width: 420px) {
  .Main .switch .slider:before {
    left: 3px;
    bottom: 3px;
    height: 19px;
    width: 19px;
  }
}
@media screen and (max-width: 320px) {
  .Main .switch .slider:before {
    left: 3px;
    bottom: 3px;
    height: 16px;
    width: 16px;
  }
}
.Main .switch input:focus-visible + .slider {
  outline: 1px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 4px #005fcc !important;
  transition: outline 0s;
}
.Main .switch input:checked + .slider {
  background-color: #969b17;
}
.Main .switch input:focus + .slider {
  box-shadow: 0 0 1px #969b17;
}
.Main .switch input:checked + .slider:before {
  transform: translateX(30px);
}
@media screen and (max-width: 420px) {
  .Main .switch input:checked + .slider:before {
    transform: translateX(20px);
  }
}
@media screen and (max-width: 320px) {
  .Main .switch input:checked + .slider:before {
    transform: translateX(16px);
  }
}
.Main select {
  background-color: #fdf5e8;
  color: #463a39;
  border: none;
  padding: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  border-radius: 0;
}
@media screen and (max-width: 500px) {
  .Main select {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .Main select {
    font-size: 0.7rem;
  }
}
.Main select option:checked {
  background-color: #add1d7;
}
.Main .label-wrap {
  width: 2px;
  height: 2px;
}
.Main .planet-label {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Termina-Black", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  width: 2px;
  height: 2px;
}
.Main .planet-point {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
.Main .planet-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.Main .planet-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Main .moon-point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 1;
  position: relative;
}
.menu-wrapper .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 400;
}
.menu-wrapper.disabled {
  pointer-events: none;
}
.menu-wrapper.disabled .planet-details .btn {
  pointer-events: none;
}
.reset-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.reset-modal-wrapper .content {
  width: 400px;
  background: url("../public/assets/ui/dialog_box_bg.png") no-repeat center center;
  background-size: 100% 100%;
  padding: 2%;
  pointer-events: auto;
  color: #f19a00;
  font-size: 1.1rem;
}
.reset-modal-wrapper .content .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.reset-modal-wrapper .content .top-section .warning-icon {
  width: 40px;
  height: 40px;
}
.reset-modal-wrapper .content .btn-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4%;
}
.reset-modal-wrapper .content .btn-con .confirm-btn {
  background-color: #969b17;
}
.reset-modal-wrapper .content .btn-con .cancel-btn {
  background-color: #f46a68;
}
.reset-modal-wrapper .content .btn-con .btn {
  cursor: pointer;
  width: 120px;
  height: 38px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.auto-rotate-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  /* Start position for slide-in effect */
}
.slideIn {
  opacity: 1;
  transform: translateY(10px);
  /* End position for slide-in effect */
}
.slideOut {
  opacity: 0;
  transform: translateY(-20px);
  /* Start position for slide-out effect */
}
